*{
	padding: 0;
	margin: 0;
}
body{
	margin: 0px;
	background-image: url(../pictures/header_bg.jpg);
	background-size: cover;
	line-height: 1.7em;
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, 0.8);
}
.navBar {
	background-color: white;
	height: 40px;
}
.navList {
	position: absolute;
  	right: 40px;
	font-size: 0px;
}
.navItem {
	transition-duration: 0.5s;
	display: inline-block;
	background-color: rgba(150,150,150,0.7);
	height: 40px;
	width: 40px;
	margin-right: 1px;
}
.navItem:hover {
	background-color: rgba(150,150,150,1);
}
.navButton {
	display: inline-block;
	color: white;
	font-size: 25px;
}
.fa-google-plus-g, .fa-home, .fa-cogs{
	padding: 7px 7px 5px 5px;
}
.fa-rss, .fa-copy{
	padding: 7px 7px 7px 9px;
}
.fa-twitter, .fa-th, .fa-comment{
	padding: 7px 7px 8px 8px;
}
.fa-facebook-f {
	padding: 7px 7px 10px 12px;
}
.letterIcon {
	font-size: 30px;
	padding: 5px 7px 7px 10px;
}
.logo {
	display: block;
	margin: 0 auto;
	margin-top: 180px;
	margin-bottom: 45px;
}
.menu {
	display: flex;
	justify-content: center;
	width: auto;
}
.menuItem {
	display: inline-block;
	width: 90px;
	margin-left: 25px;
	text-align: center;
}
.menuButton {
	text-align: center;
}
.menuButtonText {
	display: block;
}
.menuButtonIcon {
	transition-duration: 0.5s;
	font-size: 30px;
	opacity: 0.5;
}
.menuButtonIcon:hover {
	opacity: 1;
}
.letter {
	transition-duration: 0.5s;
	font-family: sans-serif;
	font-size: 45px;
	opacity: 0.5;	
}
.letter:hover {
	opacity: 1;
}
.pages, .contact, .features {
	margin-top: 100px;
	margin: 40px;
	margin-left: 200px;
}
.portfolio {
	margin: 0 auto;
	margin-top: 100px;
	margin: 40px;
}
.blog {
	margin: 0 auto;
	margin-top: 100px;
	width: 1000px;
}
.content dl dt{
	margin: 20px;
	font-size: 40px;
}
.content dl dd, .content ol li{
	margin: 20px;
	font-size: 20px;
}
.content h1 {
	width: 100%;
	font-size: 50px;
	text-align: center;
	margin-bottom: 40px;
}
.content h2 {
	margin-left: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.blog-img {
	width: 200px;
	margin-right: 20px;
	float: left;
}
.portrait {
	height: 600px;
	width: 400px;
	margin: 40px;
	background-color: white;
	color: black;
	text-align: center;
	float: right;
}
a {
	text-decoration: none;
	color: white;
}